<section class="page page--contact">
  <div class="page-inner">
    <h2 class="page__title">Contact Andy</h2>
    <div class="page__content">
      <p class="contact__result"><%= msg %></p>
      <p class="contact__info">Feel free to <a href="http://twitter.com/andymcgnnss" target="_blank" title="Andy on Twitter" class="link red">find me on Twitter</a>, <a href="https://www.linkedin.com/pub/andy-mcguinness/60/958/216" target="_blank" title="Andy on LinkedIn" class="link green">check me out on LinkedIn</a>, or <a href="https://github.com/andymcguinness" target="_blank" title="Andy on Github" class="link yellow">view my work on Github</a>.</p>
    </div>
  </div>
</section>
