/**
 * File: colors.scss
 * Description: Defines all the colors to be used in the application
 * Dependencies: None
 *
 * @package gamma
 */

/* === Monochrome Colors === */
$white: #f4f4f4;
$lightgrey: #eaeaea;
$mediumgrey: #d3d3d3;
$grey: #7c898b;
$black: #292f36;

/* === Blues === */
$blue: #3FA7D6;
$yellow: #DBD56E;
$red: #F56476;
$green: #00B295;
