# File: .gitignore
# Description: Sets up git to ignore certain files
# Dependencies: none
#
# @package: gamma

# vim .swp files
*.swp
*.swo

# installed node dependencies
node_modules/

# grunt-contrib-sass
.sass-cache/

# css mapping
dist/main.css.map

# OSX files
.DS_Store

# Sails Temp Dir
.tmp/

# .env file
.env
