/**
 * File: colors.scss
 * Description: Defines all the colors to be used in the application
 * Dependencies: None
 *
 * @package gamma
 */

/* === Monochrome Colors === */
$white: #eaeaea;
$black: #393e41;

/* === Blues === */
$brown: #7a6c5d;
$teal: #587579;
$blue: #434a67;
