<section class="page page--home home">
  <div class="page__content">
    <p class="home__content">
      My name is Andy McGuinness, and I'm a problem solver. Described by some as a jack-of-all-trades, I can help you with your website or app no matter what stage of development it's at.
      <br><br>
      I specialize in JavaScript (particularly AngularJS, Node.js, and Express), but have worked extensively with PHP &amp; WordPress, and have familiarity with Ruby on Rails.
      <br><br>
      User flows? Been there, done that. UX design advice? Done. User stories? In my sleep.
      <br><br>
      If you hire me, I'm not gonna be just some guy on the internet helping you out. I'm going to become your partner. That means your problems become my problems, and together, we'll get them solved.
      <br><br>
      Got a half-finished app you need done quickly and correctly? Got an idea for an app but need some help fleshing it out? Got all the specs but need someone to build that bad boy?
      <br><br>
      Drop me a line, and let's chat.
      <!-- Form Goes Here -->
    </p>
    <p class="home__secondary">
      Still not convinced? Check out my previous work, or read more about me (and my work ethic).
    </p>
  </div>
</section>
