/**
 * File: blog.scss
 * Description: Defines the styles for the blog section
 * Dependencies: None
 *
 * @package gamma
 */

/* === Individual Entry Styles === */
.entry__date {
  color: $grey;
  font-size: .9rem;
  width: 4.5rem;
}
.entry__link {
  width: calc(100% - 100px);
  margin-left: .5rem;
}
