/**
 * File: colors.scss
 * Description: Defines all the colors to be used in the application
 * Dependencies: None
 *
 * @package gamma
 */

/* === Monochrome Colors === */
$white: #f4f4f4;
$lightgrey: #eaeaea;
$mediumgrey: #d3d3d3;
$grey: #7c898b;
$black: #292f36;

/* === Blues === */
$blue: #44b5ad;
$yellow: #e6af2e;
$red: #f46666;
