/**
 * File: page.scss
 * Description: Defines the styles for the basic page layout
 * Dependencies: None
 *
 * @package gamma
 */

/* === Main Wrapper === */
.page {
  float: none;
  margin-right: auto;
  margin-left: auto;
  max-width: 49rem;
  padding-top: 2rem;
  padding-right: 2rem;
  padding-bottom: 2rem;
  padding-left: 2rem;
}

/* === Inner Wrapper === */
.page-inner {
  display: inline-block;
  float: none;
}

/* === Page Content === */
.page__title {
  float: none;
  margin-bottom: 1rem;
}
.page__content { float: none; }
