<header class="header">
  <nav class="header__nav main-nav">
    <div class="main-nav__left">
      <a href="/work" title="work" class="main-nav__nav-item"><span class="main-nav__nav-item-content">work</span></a> 
      <a href="/about" title="about" class="main-nav__nav-item"><span class="main-nav__nav-item-content">about</span></a> 
    </div>
    <div class="main-nav__right">
      <a href="/contact" title="contact" class="main-nav__nav-item"><span class="main-nav__nav-item-content">contact</span></a> 
      <a href="/vimrc" title=".vimrc" class="main-nav__nav-item"><span class="main-nav__nav-item-content">.vimrc</span></a> 
    </div>
  </nav>

  <div class="header__logo logo">
    <a href="/" title="home" class="logo__link">
      <span class="logo__a">A</span>
      <span class="logo__n">N</span>
      <span class="logo__d">D</span>
      <span class="logo__y">Y</span>
    </a>
  </div>
  <p class="header__subtitle">A Chicago-based web developer.</p>
</header>
