<header class="header">
  <img class="header__logo" src="/images/logo.png" alt="Andy McGuinness' Logo">
  <h1 class="header__title">My Name Is Andy</h1>
  <p class="header__subtitle">...and I'm a web developer in Chicago.</p>

  <nav class="header__nav main-nav">
    <a href="/" title="Home" class="main-nav__nav-item button blue"><span class="main-nav__nav-item-content">Home</span></a> 
    <a href="/about" title="About" class="main-nav__nav-item button yellow"><span class="main-nav__nav-item-content">About</span></a> 
    <a href="/contact" title="Contact" class="main-nav__nav-item button red"><span class="main-nav__nav-item-content">Contact</span></a> 
    <a href="/vimrc" title=".Vimrc" class="main-nav__nav-item button blue"><span class="main-nav__nav-item-content">.Vimrc</span></a> 
  </nav>
</header>
