<% include ../common/header %>

<section class="page page--about">
  <div class="page-inner">
    <h2 class="page__title">About Andy</h2>
    <p>This is about me.</p>
  </div>
</section>

<% include ../common/footer %>
