<section class="page page--about">
  <div class="page-inner">
    <h2 class="page__title">About Andy</h2>
    <div class="page__content">
      <div class="page__section">
        <h3 class="page__subheader">Intro</h3>
        <p class="about__intro">
          <img class="about__pic" src="/images/aboutpic.jpg">
          My start in computers came early; my dad wrote a program for me as a baby where I could hit any key, and it would generate random flashing lights and sounds. It’s safe to say I was hooked from there. In high school, I learned all about customizing your profile on various social sites, and I began to teach myself HTML and CSS, until I was fairly fluent in it. (My graphic design skills were a different story entirely.) I also began experimenting with Javascript on a lone, hidden Geocities site, but Javascript wasn’t the language it has become (is there nothing jQuery can’t do?), and I wasn’t interested. In college, I putzed around as an English major before settling on Information Communication Technology; I was taking a Computer Science minor, which introduced me to C++ and object-oriented programming. From there, I took another HTML/CSS/Perl class, and deepened my skills. I rounded out my education with classes in PHP and Databases, to name a few.
          <br><br> 
          In college, I worked as a WordPress developer, developing themes and plugins for a multisite installation of 30+ sites. From there, I worked as a frontend/JavaScript developer, where I picked up AngularJS, Node.js, and some Ruby on Rails, to name a few things. I have experience with a variety of languages and frameworks, and have the passion and drive to learn more.
          <br><br>
          In my free time, I love playing board games and card games, and enjoy playing Android: Netrunner. I also enjoy reading, playing ice hockey, and working on personal projects.
          <br><br>
          Overall, I love coding, and I love challenges. My work experience thus far has had me saying “I don’t know how to do that” time and again, and each time, I learn how to do something new and useful. I look forward to future opportunities to learn, be challenged, and grow as a programmer!
        </p>
      </div>

      <div class="page__section">
        <h3 class="page__subheader">More Info</h3>
        <p class="about__intro">
          You can find my current .vimrc <a href="/vimrc" title=".vimrc" class="link blue">here</a>, and you can find the CSS styleguide I follow <a href="http://codeguide.co/" title="Code Guide by @mdo" target="_blank" class="link red">here</a>. The AngularJS styleguide I follow is <a href="http://toddmotto.com/opinionated-angular-js-styleguide-for-teams/" title="Opinionated AngularJS styleguide for teams" target="_blank" class="link yellow">here</a>. I use SCSS and the BEM methodology, which you can learn more about <a href="http://csswizardry.com/2013/01/mindbemding-getting-your-head-round-bem-syntax/" title="MindBEMding" target="_blank" class="link green">here</a>.
          <br><br>
          You can watch me coding live Tuesday nights from 7:30 to 9:30 PM CDT/CST, and Saturdays from 1:30 to 3:30 PM <a href="twitch.tv/andymcguinness" title="Andy on Twitch" target="_blank" class="link blue">here</a>. You can catch me working on one of my many side projects.
          <br><br>
          My LinkedIn is <a href="https://www.linkedin.com/pub/andy-mcguinness/60/958/216" title="Andy on LinkedIn" target="_blank" class="link red">here</a>, and my Github is <a href="https://github.com/andymcguinness" title="Andy on Github" target="_blank" class="link yellow">here</a>. You can follow me on Twitter <a href="https://twitter.com/andymcgnnss" title="Andy on Twitter" target="_blank" class="link green">here</a>.
        </p>
      </div>

      <div class="page__section">
        <h3 class="page__subheader">Skills</h3>
        <div class="skill left">
          <div class="skill__percentage seventy-five blue"><span></span></div>
          <p class="skill__title">HTML</p>
        </div>
        <div class="skill right">
          <div class="skill__percentage seventy-five red"><span></span></div>
          <p class="skill__title">CSS</p>
        </div>
        <div class="skill left">
          <div class="skill__percentage seventy-five yellow"><span></span></div>
          <p class="skill__title">JS</p>
        </div>
        <div class="skill right">
          <div class="skill__percentage fifty green"><span></span></div>
          <p class="skill__title">PHP</p>
        </div>
        <div class="skill left">
          <div class="skill__percentage seventy-five blue"><span></span></div>
          <p class="skill__title">AngularJS</p>
        </div>
        <div class="skill right">
          <div class="skill__percentage fifty red"><span></span></div>
          <p class="skill__title">Node.js</p>
        </div>
        <div class="skill left">
          <div class="skill__percentage seventy-five yellow"><span></span></div>
          <p class="skill__title">WordPress</p>
        </div>
        <div class="skill right">
          <div class="skill__percentage fifty green"><span></span></div>
          <p class="skill__title">Mongodb</p>
        </div>
        <div class="skill left">
          <div class="skill__percentage ninety blue"><span></span></div>
          <p class="skill__title">Communication</p>
        </div>
        <div class="skill right">
          <div class="skill__percentage seventy-five red"><span></span></div>
          <p class="skill__title">Teamwork</p>
        </div>
      </div>

      <div class="page__section">
        <h3 class="page__subheader">Resume</h3>
        <div class="resume">
          <div class="resume__experience">
            <p class="resume__job-title">JavaScript Developer</p>
            <p class="resume__location">Aisle Rocket Studios, Palatine, IL</p>
            <span class="resume__dates">Feb 2014 - Sept 2015</span>
            <p class="resume__description">
              At Aisle Rocket Studios, I worked with a team of developers to maintain large retail sites, as well as to create new experiences on-demand. I also worked with a smaller team within the organization to design, build, QA, and release a social media platform. I got experience working with Ruby on Rails, SCSS, Coffeescript, HAML, PHP, WordPress, Salesforce, AngularJS, Node.js, Mongodb, as well as HTML, jQuery, vanilla JS, and CSS.
            </p>
          </div>
          <div class="resume__experience">
            <p class="resume__job-title">Assistant Webmaster</p>
            <p class="resume__location">The College of Communication and Information, Florida State University, Tallahassee, FL</p>
            <span class="resume__dates">May 2013 - Dec 2013</span>
            <p class="resume__description">
              At The College of Communication and Information, I worked with the Webmaster to create a responsive WordPress child theme, built several WordPress plugins, develop the mission & vision for sites, and performed general content maintenance for a multi-site installation of over 30 sites.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
