<section class="page page--home">
  <h2 class="page__title">Ramblings of a Developer</h2>

  <ul class="blog-entries page__content">
    <% for(var i=0; i< entries.length; i++) {%>
    <li class="blog-entries__entry"><a href="/blog/<%= entries[i].slug %>"><%= entries[i].title %></a></li>
    <% } %>
  </ul>
</section>
