<% include ../common/header %>

<ul>
  <% for(var i=0; i< entries.length; i++) {%>
  <li><a href="/blog/<%= entries[i].slug %>"><%= entries[i].title %></a></li>
  <% } %>
</ul>

<% include ../common/footer %>
