/**
 * File: footer.scss
 * Description: Styles for the site's footer
 * Dependencies: none
 *
 * @package gamma
 */

/* === Main Styles === */
.footer {
  padding-top: 1rem;
  text-align: center;
}

/* === Content === */
.colophon {
  font-size: .7rem;
  line-height: 1.2;
}
