/*
 * File: colors.scss
 * Description: Defines all the colors to be used in the application
 * Dependencies: None
 *
 * @package gamma
 */

/* === Monochrome Colors === */
$grey: #595758;
$off-white: #e5f4e3;

/* === Blues === */
$bright-blue: #3f7cac;
$light-blue: #a9bcd0;
$darker-blue: #555b6e;
